<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mbs.dao.CodeMapper">
    <select id="getNewCode" resultType="com.example.mbs.pojo.Code">
        SELECT * FROM code ORDER BY codeId DESC LIMIT 1
    </select>

    <insert id="addCode" parameterType="String">
        insert into code (code) values(#{code})
    </insert>
</mapper>