<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mbs.dao.MessageMapper">
    <insert id="addMessage" parameterType="com.example.mbs.pojo.Message">
        insert into message (masterId, topic, content, likes, typeId, comments, imagePath, time,userNickName)
        VALUES (#{masterId},#{topic},#{content},#{likes},#{typeId},#{comments},#{imagePath},#{time},#{userNickName})
    </insert>
    <update id="likesMessage" parameterType="com.example.mbs.pojo.Message">
        update message set likes=#{likes} where id=#{id} and masterId=#{masterId}
    </update>
    <delete id="deleteMessage" parameterType="int">
        delete from message where id=#{messageId}
    </delete>
    <select id="queryMessageByTitle" parameterType="String" resultType="com.example.mbs.pojo.Message">
        select * from message where topic=#{title}
    </select>
    <select id="queryMessageByUser" parameterType="int" resultType="com.example.mbs.pojo.Message">
        select * from message where masterId=#{userId}
    </select>

    <select id="queryAllMessage" resultType="com.example.mbs.pojo.Message">
        select * from message
    </select>

    <select id="queryMessageLimitFive" resultType="com.example.mbs.pojo.Message">
        select * from message limit 5
    </select>

    <select id="queryMessageByType" parameterType="int" resultType="com.example.mbs.pojo.Message">
        select * from message where typeId=#{typeId}
    </select>

    <select id="getMessageById" parameterType="int" resultType="com.example.mbs.pojo.Message">
        select * from message where id=#{messageIds}
    </select>

    <select id="getMessageByCommentsId" parameterType="int" resultType="com.example.mbs.pojo.Message">
        select * from message where id=#{commentsId}
    </select>

</mapper>